.submitButton{
  background-color: cadetblue;

}
submitbutton:hover{
  background-color: chartreuse;
  color:chartreuse;
}
.container {
  background-color: aquamarine;
  display: flex;
  align-items: center;
  justify-content: center;
  border:5px solid #555;
  border-radius: 25px;
  
}
img {
  max-width: 100%;
}
.image {
  flex-basis: 40%;
  background-color: white;
  min-width: 30%;
  border-radius: 25px;
  
}
.text {
  font-size: 1.4vw;
  padding-left: 20px;
  font-family:sans-serif;
  float: left;
  margin-right: 5%;
  
  
  
}
.QuestionsText{
 font-style: oblique;
  font-size: 20px;
  
  
  
}
.CourseInput{
  height: 30px;
  width: 50vw;
  min-width: fit-content+50px;
  font-size: 18px;
}
.OptionText{
  font-size: 2vw;
}
.img_deg
{ 
  border:5px solid #555;
  float: right;
  margin-left: 10%;
}
.border{
  width: 100%;
  border-width: 5px;
  border-style: solid;
  border-color: #555;
}
.div1
{
  background-color: darkslategray ;
  width: 950px;
  height: 300px;
  padding: 10px ;
  border: 7px lightsteelblue;
  margin: 20px;
}
.div2
{
  background-color: aliceblue ;
  width: 400px;
  height: fit-content;
  border: blue;
  padding: 3%;
  float: left;
  border-width: 5px;
  border-style: solid;
  margin-left: 5% ;
  margin-right: 5%;
  margin-bottom: 5%;
  position: relative;
}
.aspectwrapper 
{
  display: inline-block;
  width: 100%;     
  height: fit-content;
  position: relative;    
}
.aspectwrapper::after {
  padding-top: 50%; 
  display: block;
  content: '';
}
.newscontentblock {
  background-color: green;
  position: absolute;
  top: 0; bottom: 0; right: 0; left: 0;  
  outline: solid darkslategrey;   
  max-height: fit-content; 
  min-height: 400px;
  border-radius: 25px;       
}
.MainContentBlock{
  background-color: azure;
  position: absolute;
  top: 0; bottom: 0; right:0; left: 0; 
  height: 600px;   
  min-height: 500px;
  margin-bottom: 20px;
}
.textbox{
  background-color: white;
  border: solid darkslategray;
}
.testholder{
  min-height: 1500px;
}
.NewsTitle{
  color: #555;
  font-size: 2vw;
}
.TickBoxText{
  font-size:medium;
}
.ButtonBox{
  position: absolute;
  bottom: 0;
  left:0;
  right: 0;
  border-style: solid;
  border-color: black;
  display: flex; 
  justify-content: space-between; 
  height: fit-content;
}